<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token }}">
    {% load static %}
    <link rel="icon" href="{% static 'images/sele.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/common.css' %}">
    <title>selenium</title>
</head>
<body>
    <div class="page-switch-links">
        <a href="http://localhost:8001/selenium/">Selenium</a>
        <a href="http://localhost:8001/shell/">Shell</a>
    </div>

    <h3>共通設定</h3>
    <table>
        <tbody>
            <tr>
                <th>テスト環境</th>
                <td>
                    <select id="env" name="env"></select>
                </td>
            </tr>
        </tbody>
    </table>

    <div>
        <p style="font-weight: bold; padding-bottom: 0px; margin-bottom: 0px;">テスト環境の選択肢を管理</p>
        <input type="text" id="newOptionValue" value="dev8" style="width: 100px;">
        <button onclick="addOption()">追加</button>
        <button onclick="removeSelectedOption()">選択済みの環境を削除</button>
    </div>

    <!-- メインタブ -->
    <div class="tabs">
        <button class="tablink active" onclick="openTab(event, 'wh')">WH</button>
        <button class="tablink" onclick="openTab(event, 'cs')">CS</button>
    </div>

    <!-- CSタブのコンテンツ -->
    <div id="cs" class="tabcontent" style="display:none;">
        {% block cs %}
            {% include "cs.html" %}
        {% endblock %}
    </div>

    <!-- WHタブのコンテンツ -->
    <div id="wh" class="tabcontent" style="display:block;">
        {% block wh %}
            {% include "wh.html" %}
        {% endblock %}
    </div>

    <div id="loading-spinner" style="display: none;"></div>

    <script src="{% static 'js/common.js' %}"></script>
    <script src="{% static 'js/selenium.js' %}"></script>
</body>
</html>
